__pycache__/
datasets/
logs/
dist/
*.log
*.jsonl
*.egg-info/
*/.DS_Store
*.DS_Store

# Evaluation/Profiling ignores
*.prof
evaluation/sandbox/results/*
!evaluation/sandbox/results/.gitkeep
!evaluation/sandbox/results/run_local_eval.py

# Sandbox SIF images
*.sif

# Sandbox Cache
evaluation/sandbox/cache/

# Slurm and Apptainer temporary files
*.err
*.out
build-temp-*/
